.comment {
    width: 100%;

    border: 1px solid lightgray;

    // .comment__avatar {
    //     height: 80px;
    //     width: 80px;
    // }
}
.comment__header{
    display: flex;
    flex-direction: row;
    
}
.comment__info{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comment-form{
    
}